DirectoryIndex index.php?r=demo/index
ErrorDocument 404 http://framework.local/index.php?r=demo/error
RewriteEngine on
RewriteRule ^index$ index.php?r=demo/index [L]
RewriteRule ^index/id/([0-9]+)$ index.php?r=demo/index&id=$1 [L]
RewriteRule ^index/id/([0-9]+)/title/([a-zA-Z]+)$ index.php?r=demo/index&id=$1&title=$2 [L]
RewriteRule ^login$ index.php?r=demo/login [L]
